Repository theowenyoung/gatsby-general-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

chore: add dependence
  package.json
  yarn.lock
Due: npm run format

fix: build root html without title
  package.json
  yarn.lock
Due: npm run format

refactor: add utils/index.js and move link component
  src/components/boilerplates/language.js
  src/components/link.js
  src/pages/boilerplates/intl-2.js
  src/pages/boilerplates/intl.js
  src/pages/boilerplates/nav.js
  src/pages/boilerplates/page.js
  src/pages/index.js
  src/utils/index.js
Due: npm run lint

refactor: move link to bases
  src/components/bases/link.js
  src/components/link.js
  src/pages/boilerplates/intl-2.js
  src/pages/boilerplates/intl.js
  src/pages/boilerplates/nav.js
  src/pages/index.js
Due: npm run lint

feat: add google gtag support, instead of google analitics
  gatsby-config.js
  package.json
  yarn.lock
Due: npm run lint, npm run format

fix: intl change locale path
  package.json
  yarn.lock
Due: npm run format

Path conditions:
  npm run lint: any of: *.js
  npm run format: any of: *.{json,md}
